<!DOCTYPE html>
<html lang="en">
    <script src="https://unpkg.com/ejs/ejs.min.js"></script>
    <div id="navbar"></div>
    <script>
        fetch('/ds/navbar') 
        .then(response => response.text())
        .then(html => {
            document.getElementById('navbar').innerHTML = ejs.render(html);
        })
        .catch(error => {
            console.error('Error fetching the navbar:', error);
        });
    </script>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
    <style>
        body {
        background-color: rgb(237, 236, 239);
		color: white;
        background-image: url('https://source.unsplash.com/1920x1080/?hotel');
        background-repeat: repeat;
        background-size: cover;
        background-position: center center;
        position: relative;
        min-height: 100vh;
        min-width: 100vw;
    }
        table {
            margin-top: 30px;
            color: #170606; 
        }
        th, td {
            text-align: center;
        }

        h1, p, tr, td, th, table {
            color: #f8eeee;
        }
        
        .container {
            background-color: rgb(2,2,8);
        }

        .hd {
            color: white;
        }

    </style>
    <link rel="stylesheet" type="text/css" href="/dsb/css/style.css">
</head>
<body>
    <div class="container">
        <h1 id="hd" style="color:#f8eeee ; text-align: center;">Paradise Cove Retreat Feedback Dashboard</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Hotel Services</th>
                    <th>Reception Services</th>
                    <th>Cleanliness</th>
                    <th>Amenities</th>
                    <th>Location</th>
                    <th>Food Quality</th>
                    <th>Staff Friendliness</th>
                    <th>Value for Money</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% for (let i = 0; i < feedbacks.length; i++) { %>
                    <tr>
                        <td><%= feedbacks[i].name %></td>
                        <td><%= feedbacks[i].phone %></td>
                        <td><%= feedbacks[i].ratingHotel %></td>
                        <td><%= feedbacks[i].ratingReception %></td>
                        <td><%= feedbacks[i].ratingCleanliness %></td>
                        <td><%= feedbacks[i].ratingAmenities %></td>
                        <td><%= feedbacks[i].ratingLocation %></td>
                        <td><%= feedbacks[i].ratingFood %></td>
                        <td><%= feedbacks[i].ratingStaff %></td>
                        <td><%= feedbacks[i].ratingValue %></td>
                        <td>
                            <button class="btn btn-danger delete-btn" data-id="<%= feedbacks[i]._id %>">Delete</button>
                        </td>
                    </tr>
                <% } %>
            </tbody>
            <button class="btn btn-primary" id="exportBtn" style="float: right; padding: 10px; margin-bottom: 10px;">Export to Excel</button>
        </table>
    </div>

    <script>

        function exportToExcel() {
          var table = document.querySelector('.table');
    
          var wb = XLSX.utils.table_to_book(table);

          var wbout = XLSX.write(wb, {
            bookType: 'xlsx',
            bookSST: true,
            type: 'binary'
          });
    
          function s2ab(s) {
            var buf = new ArrayBuffer(s.length);
            var view = new Uint8Array(buf);
            for (var i = 0; i < s.length; i++) view[i] = s.charCodeAt(i) & 0xFF;
            return buf;
          }
    
          var link = document.createElement('a');
          link.href = URL.createObjectURL(new Blob([s2ab(wbout)], {
            type: 'application/octet-stream'
          }));
          link.download = 'feedbacks.xlsx';
          link.click();
        }
    
        document.getElementById('exportBtn').addEventListener('click', exportToExcel);
      </script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $('.delete-btn').click(function() {
            var feedbackId = $(this).data('id');
            $.ajax({
                url: '/ds/delete-feedback/' + feedbackId,
                method: 'DELETE',
                success: function(response) {
                    location.reload();
                },
                error: function(xhr, status, error) {
                    console.log(error);
                }
            });
        });
    </script>

</body>
<div id="footer" style="position: fixed; left: 0; bottom: 0; width: 100%;"></div>
	<script>
		fetch('/ds/footer') 
        .then(response => response.text())
        .then(html => {
            document.getElementById('footer').innerHTML = ejs.render(html);
        })
        .catch(error => {
            console.error('Error fetching the footer:', error);
        });
	</script>
</html>



